fastcamp-Agentes_Inteligentes/card06/card06_pratica_rag-n8n.json
{
  "name": "rag-n8n",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -48
      ],
      "id": "4ca6704d-d720-4b3e-80e0-ba383986c00b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "bucketName": "rag-n8n-card06",
        "options": {}
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -272,
        -48
      ],
      "id": "54f0d328-5cbe-4f4a-b534-cef5fc1eb8b0",
      "name": "Get many files",
      "credentials": {
        "s3": {
          "id": "KYhNarR0tvmPk3Qz",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "bucketName": "=rag-n8n-card06",
        "fileKey": "={{ $json.Key }}"
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        -64,
        -48
      ],
      "id": "76bc7371-cced-4466-9c3f-98606ab20f6e",
      "name": "Download a file",
      "credentials": {
        "s3": {
          "id": "KYhNarR0tvmPk3Qz",
          "name": "S3 account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        144,
        -48
      ],
      "id": "c344e8f1-6a3c-461e-9a9c-7f7924c0f780",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "rag-n8n-docs",
          "mode": "list",
          "cachedResultName": "rag-n8n-docs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        352,
        -48
      ],
      "id": "a921ded5-d474-47b2-8ff2-f6af5079d8a0",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "hj2WNApCfaKDRIX1",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        176
      ],
      "id": "7346db0d-f041-48a6-8769-b6825c3d07e2",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "d6SMAEB2tARXGDHR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        400,
        176
      ],
      "id": "be313f4f-2231-4f31-85d9-89d4e7cf7357",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        400,
        352
      ],
      "id": "e6a51cb1-4be1-42da-ab9d-1a48c0a27b56",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Use o Qdrant para responder as perguntas. Essa é sua base de conhecimento."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1040,
        -32
      ],
      "id": "00e842b6-9152-4820-b1be-6b4ba4f0addf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        832,
        -32
      ],
      "id": "afecde3f-5b0f-496f-ab62-c72d34a7bcb6",
      "name": "When chat message received",
      "webhookId": "e30e2340-1629-42b6-b7d2-0dffa4544974"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1040,
        160
      ],
      "id": "e7f91668-516f-4e8d-acfa-f5361a4ae314",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "d6SMAEB2tARXGDHR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Ferramenta de recuperação de dados",
        "qdrantCollection": {
          "__rl": true,
          "value": "rag-n8n-docs",
          "mode": "list",
          "cachedResultName": "rag-n8n-docs"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1248,
        160
      ],
      "id": "17245cb5-6a44-4b27-802a-6b8b7e1383fb",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "hj2WNApCfaKDRIX1",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1248,
        336
      ],
      "id": "402b6129-d4c1-4996-870f-df01f9ea5268",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "d6SMAEB2tARXGDHR",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many files": {
      "main": [
        [
          {
            "node": "Download a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download a file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dead73c7-78bf-4d6f-b11f-83a6fc326118",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fc34c36e8524280c39730e41d98fda7fbf79b9e2f7e36c42b2a721611643f279"
  },
  "id": "T99bDkvRZREYOMov",
  "tags": []
}